<configuration>

    <!-- Стандартный консольный аппендер Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Кастомный аппендер для отправки логов в LogCollector -->
    <appender name="CUSTOM" class="ru.mkhamkha.ZhabBot.component.log.LogAppender"/>

    <!-- Уровень логирования и использование аппендеров -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CUSTOM"/>
    </root>

</configuration>