<configuration>

    <!-- Уровень логирования объявляется в application.yaml -->
    <springProperty scope="context" name="rootLogLevel" source="logging.level.root"/>

    <!-- Стандартный консольный аппендер Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Кастомный аппендер для отправки логов в LogCollector -->
    <appender name="CUSTOM" class="ru.mkhamkha.ZhabBot.component.log.LogAppender"/>

    <!-- Уровень логирования и использование аппендеров -->
    <root level="${rootLogLevel}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOKI" />
    </root>

</configuration>